/* General Layout */

section {
  margin: 45px;
}

    @media only screen and (max-width: 576px) {
      section {
        margin: 15px;
      }
    }

/* Overrides of Bootstrap Classes */
.container-fluid {
  padding: 0;
}



/* Header Section */

#topImg {
  height: 600px;
}

#header-text p {
  width: 50%;
  margin-left: 16px;
}
    @media only screen and (max-width: 1200px) {
      #header-text p {
        width: 80%;
        margin-left: 16px;
      }
    }

    @media only screen and (max-width: 992px) {
      #header-text p {
        width: 80%;
        margin-left: 0;
      }
    }


/* Select Tea Type Section */



/* Tea Review Section */

#teaReviewSection {
  margin: 0;
}


/* Upload Review section */



/* Footer Section */