/* General Layout */

section {
  padding: 45px;
}

    @media only screen and (max-width: 576px) {
      section {
        margin: 15px;
      }
    }

/* Overrides of Bootstrap Classes */
#selectTeaType .container-fluid {
  padding: 0;
}

footer ul {
  margin-bottom: 0;
}


/* Header Section */

#topOfPage {
  min-height: 760px;
  position: relative;
  overflow: hidden;
}

#topImg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

#header-text {
  position: relative;
  top: -130px;
  width: 100%;
  text-align: center;
}

#header-text p {
  width: 68%;
  margin: auto;
  margin-top: 40px;
}
    @media only screen and (max-width: 1200px) {
      #header-text p {
        width: 80%;
      }
    }

    @media only screen and (max-width: 992px) {
      #header-text p {
        width: 80%;
      }
    }


/* Select Tea Type Section */



/* Tea Review Section */

#teaReviewSection {
  margin: 0;
  padding: 0;
}

#slick {
  margin: calc(45px - 1rem);
  margin-top: 7rem;
  height: 766px;
}

.slick-prev, .slick-next {
  filter: invert(1);
  width: 35px;
  height: 35px;
}

.slick-next {
  right: -25px;
}

.slick-prev {
  left: -25px;
}

.slick-prev:before, .slick-next:before {
  font-size: 65px;
  line-height: 35px;
}

.slick-prev:before {
  content: '<';
}

.slick-next:before {
  content: '>';
}


/* Upload Review section */



/* Footer Section */
