/* Header section */
#topImg {
  background-image: url("../images/landing2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#header-text {
  padding-top: 120px;
  padding-left: 100px;
}

#header-text h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

    @media only screen and (min-width: 992px) {
      #header-text h1 {
        font-size: 4.5rem;
      }
    }


/* Select Tea Type Section */
.tea-button {
  color: white;
  font-size: 2.3rem;
  margin: 1rem 0;
  padding: 1.7rem 0;
}

.tea-button:hover {
  opacity: 0.4;
}

#white {
  background: #f1d451;
}

#green {
  background: #7ec251;
}

#oolong {
  background: #cec254;
}

#black {
  background: #aa4016;
}

#raw {
  background: #d4e767;
}

#ripe {
  background: #441c09;
}

    @media only screen and (max-width: 992px) {
      .tea-button {
        font-size: 1.5rem;
      }
    }

    @media only screen and (max-width: 768px) {
      .tea-button {
        font-size: 1.5rem;
        margin: .25rem;
      }
    }

    @media only screen and (max-width: 576px) {
      .tea-button {
        font-size: 1rem;
        margin: 5px;
      }
    }


/* Tea Review Section */
#slick {
  margin: 45px;
}

.slick-prev, .slick-next {
  filter: invert(1);
  width: 35px;
  height: 35px;
}

.slick-next {
  right: -35px;
}

.slick-prev {
  left: -35px;
}

.slick-prev:before, .slick-next:before {
  font-size: 35px;
}



/* Upload Review section */
#uploadImg {
  text-align: center;
}

#img-input {
  display: none;
}

#img-preview {
  width: 150px;
  display: block;
  margin: 2.5rem auto;
}

.no-image {
  opacity: 0.2;
}



/* Footer Section */
