/* Header section */
#topImg {
  background-image: url("../images/rawleaves copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 2s ease-out forwards;
}

    @keyframes intro {
      from {
          transform: scale(1);
          opacity: 0
      }

      to {
          transform: scale(1.05);
          opacity: 1
      }
    }


#header-text h1 {
  font-size: 4.5rem;
  font-weight: 400;
  /* line-height: 1.2; */
}

    @media only screen and (min-width: 992px) {
      #header-text h1 {
        font-size: 7rem;
      }
    }

#header-text p {
  font-size: 2.2rem;
}
    @media only screen and (max-width: 1200px) {
      #header-text p {
        font-size: 1.9rem;
      }
    }

    @media only screen and (max-width: 992px) {
      #header-text p {
        font-size: 1.5rem;
      }
    }



/* Select Tea Type Section */

.tea-button {
  color: white;
  font-size: 2.3rem;
  margin: 1rem 0;
  padding: 1.7rem 0;
  transition: background 0.25s;
  cursor: pointer;
}

#white {
  background: #818a83;
}
  #white:hover, #white.active {
    background: #f1d451;
  }

#green {
  background: #818a83;
}
  #green:hover, #green.active {
    background: #7ec251;
  }

#oolong {
  background: #818a83;
}
  #oolong:hover, #oolong.active {
    background: #cec254;
  }

#black {
  background: #818a83;
}
  #black:hover, #black.active  {
    background: #aa4016;
  }

#raw {
  background: #818a83;
}
  #raw:hover, #raw.active  {
    background: #d4e767;
  }

#ripe {
  background: #818a83;
}
  #ripe:hover, #ripe.active  {
    background: #441c09;
  }

    @media only screen and (max-width: 992px) {
      .tea-button {
        font-size: 1.5rem;
      }
    }

    @media only screen and (max-width: 768px) {
      .tea-button {
        font-size: 1.5rem;
        margin: .25rem;
      }
    }

    @media only screen and (max-width: 576px) {
      .tea-button {
        font-size: 1rem;
        margin: 5px;
      }
    }



/* Tea Review Section */

.loading {
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}


/* Upload Review section */
#uploadImg {
  text-align: center;
}

#img-input {
  display: none;
}

#img-preview {
  max-height: 400px;
  display: block;
  margin: 2.5rem auto;
}

.no-image {
  width: 150px;
  opacity: 0.2;
}

#displayCharNum {
  float: right;
}


/* Footer Section */
.social {
  width: 25%;
  opacity: 0.5;
}

#footer-div {
  margin: 0;
  text-align: center;
}